.Navbar{
    max-width: 100%;
    flex-direction: row;
}
main{
    padding: 10px;
    max-width: 500px;
    margin: auto;
}
body {
    display: flex;
    flex-direction: column;
    background: #222;
    font-family: system-ui;
    margin: 0;
    padding: 0;  
    justify-content: center;
    max-width: 100%;
}
.App-Profile{
    max-width: 100%;
}

.App-Proyectos{ 
    display: flex;
    justify-content:center;
    gap: 10px;
    padding-top: 10px;
    
}




